.productCard {
  --card-bg: white;
  .ant-card-body {
    padding: 10px 20px;
    background-color: var(--card-bg);
  }
  flex: 1 1 18%;
  max-width: 18%;
}

.blur-load img {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.blur-load img.loaded {
  opacity: 1;
}

.blur-load {
  background-size: cover;
  background-position: center;
  height: 320px;
  width: 240px;
}

[data-theme="dark"] {
  .productCard {
    --card-bg: #34343a;

    .ant-card {
      background-color: var(--card-bg);
    }

    .ant-card-body {
      color: #f2f2f5;
    }
  }
}
