.listingContainer {
  --bg-color: #f4f4f4;

  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .listWrapper {
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 50px 0;
  }
}

[data-theme="dark"] {
  .listingContainer {
    --bg-color: #1c1c1e;
  }
}
